<h1 class="animated fadeIn fast">porque porque</h1>
<hr>
<p class="animted fadeIn">

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, magnam sapiente. Alias repellendus id molestias veniam nostrum beatae voluptatibus sapiente ea quidem quaerat? Quisquam consequuntur iste laudantium, dolor sunt minus. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Nobis et dolor, unde excepturi doloribus, a impedit expedita perspiciatis repudiandae sint vero recusandae aliquam ut consequuntur modi laborum aperiam quo harum! Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Consectetur, sequi molestias, animi aspernatur adipisci sed eligendi consequuntur nihil quis, nesciunt soluta. Deleniti vero laboriosam ea, ipsum sint voluptatem libero quisquam.
</p>